html, body {
    height: 100%;
    font-size: 15px;
}

[class*="col-"] {
    padding: 5px;
}

.container-fluid, .row {
    margin: 0;
    padding: 0;
}

.container-fluid, .row, #content {
    height: 100%;
}

.btn-group {
    margin-bottom: 10px;
    width: initial;
}

.leftColForm {
    padding: 10px;
}

.leftColForm .checkbox-inline {
    margin: 10px 0;
    padding-left: 0;
}

.leftColForm input {
    margin-right: 5px;
}

#content {
    padding: 0;
}

#page-wrapper .panel {
    margin-bottom: 0;
}

#tableTabPanel {
    height: 41px;
}

.panel-default > .panel-heading, .panel-title {
    font-size: 18px;
    line-height: 1.1;
}

.sidebar {
    margin-top: 40px;
}

.navbar-header {
    width: 100%;
}

#navbar {
    float: right;
}

.navbar, .navbar-brand {
    margin-left: 0 !important;
    height: 40px;
    min-height: 40px;
}

.navbar-brand {
    color: #337ab7 !important;
    font-size: 1em;
}

.navbar-top-links li a {
    min-height: 30px;
}

.nav-tabs > li > a {
    border: 1px solid #1b6d85;
    border-bottom: transparent;
    background-color: #5BC0DE;
}

.nav > li > a, .navbar-brand {
    padding: 10px 15px;
}

.btn {
    font-size: 15px;
}

a:active, a:hover {
    color: #555 !important;
}

#tab-content {
    /*height: calc(100% - 42px);*/
    /*overflow: auto;*/
    border-left: 1px solid #ddd;
}

.tab-content > .active {
    display: inline-block;
}

#datepicker input, #datepicker2 input {
    margin-bottom: 10px;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    width: 100%;
}

.login-panel .panel-body {
    padding: 15px;
}

.panel-body {
    padding: 0;
}

.navbar-toggle {
    margin-top: 3px;
}

.main {
    margin: 40px 0 !important;
}

@media screen and (max-width: 768px) {
    .panel-default > .panel-heading, .panel-title {
        font-size: 1em;
    }
}

.navbar-collapse {
    max-width: calc(100% / 6);
}

#curve_chart {
    width: 100%;
    height: 500px;
}

#logout {
    float: right;
    margin: 3px;
    padding: 5px 30px;
    margin: 5px;
}

h1 {
    margin: 0 !important;
    float: left;
    width: 80%;
    padding: 8px 20px;
    font-size: 25px;
}
